<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gupter:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika:wght@300..700&family=Timmana&display=swap" rel="stylesheet">



        <link rel="stylesheet" href="static/styles/about_us.css">

        <title>CareerBridge - About us</title>
    </head>
    <body>

        <div class="home-page">

            <nav class="navbar">
                <div class="left-side">
                    <img class="logo" src="static/images/logo-1.png">
                    <div class="name-1">
                        CareerBridge
                    </div>
                </div>
                

                <div class="nav-items">
                    <a href="/" class="landing" type="button">Home</a>
                    <a href="/about_us" target="_blank" class="about-us" type="button">About us</a>
                    <a class="contact-us" type="button">Contact us</a>
                </div>
                
            </nav>

            <div class="second-part">


                <p class="title-1">Our Story</p>
                <p class="text-1">At Career Bridge, we’re more than just a job platform—we’re your dedicated partner in building a successful career. Founded in 2024, Career Bridge was born out of a passion for helping job seekers connect with opportunities that truly match their skills, values, and aspirations. We understand that navigating the job market can be challenging, which is why we’ve created a platform designed to make your journey smoother, smarter, and more rewarding.</p>


                <img class="img1" src="static/images/2.png">


                <p class="title-2">Our Mission</p>
                <p class="text-2">Our mission at Career Bridge is simple yet powerful: to empower individuals to take control of their career paths by providing them with the tools, resources, and guidance they need to succeed. We’re committed to creating an inclusive platform that serves a diverse community of job seekers. Whether you’re just starting your career or looking to make a strategic move, Career Bridge is here to support you every step of the way.</p>
                

                <img class="img2" src="static/images/3.png">


                <p class="title-3">Join Us</p>
                <p class="text-3">Are you ready to take your career to the next level? Join Career Bridge today and start connecting with the opportunities that are right for you. Whether you’re looking for your first job or your next big career move, we’re here to help you succeed.</p>

                

            </div>



        </div>

        <footer class="footer">
            <div class="part-1">

               
                    <img class="logo-footer" src="static/images/small-logo.png" alt="small logo">
                    <div class="name"> CareerBridge</div>
                

                    <a href="https://www.linkedin.com/in/yazan-alsaleh/" target="_blank"><img class="linkedin" src="static/images/linkedin.png" alt="linkedin profile"></a>
                    <a href="https://github.com/Yazan-ys202110319" target="_blank"><img class="github" src="static/images/github.png" alt="github profile"></a>
                    
                        <div class="at">
                            @
                        </div> 

                        <a class="design" href="mailto:yazan.j.alsaleh@gmail.com" title="Email Me">
                            <div class="email">
                                yazan.j.alsaleh@gmail.com
                            </div>
                        </a>

            </div>

            <div class="part-2">
                <p>Copyright <span>&#169;</span> 2024<span class="copy">;</span>  Build with <span>&#9829;</span> by Yazan</p> 
            </div>

        </footer>

    </body>
</html>