<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles/about_us.css">

        <title>CareerBridge - About us</title>
    </head>
    <body>

        <div class="home-page">

            <nav class="navbar">
                <div class="left-side">
                    <img class="logo" src="static/images/logo-1.png">
                    <div class="name">
                        CareerBridge
                    </div>
                </div>
                

                <div class="nav-items">
                    <a href="/" class="landing" type="button">Home</a>
                    <a href="/about_us" target="_blank" class="about-us" type="button">About us</a>
                    <a class="contact-us" type="button">Contact us</a>
                </div>
                
            </nav>

            <div class="second-part">
                
            </div>

        </div>
    </body>
</html>