<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Application Submitted</title>
    </head>
    <body>
        <p>Your application for the role of <b>{{job['title']}}</b> at CareerBridge has been submitted!</p>

        <h4>Full name</h4>
        <div>{{application['full_name']}}</div>

        <h4>Email</h4>
        <div>{{application['email']}}</div>

        <h4>LinkedIn URL</h4>
        <div>{{application['linkedin_url']}}</div>

        <h4>Education</h4>
        <div>{{application['education']}}</div>

        <h4>Work Experience</h4>
        <div>{{application['work_experience']}}</div>

        <h4>Resume URL</h4>
        <div>{{application['resume']}}</div>
        
    </body>
</html>