<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gupter:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika:wght@300..700&family=Timmana&display=swap" rel="stylesheet">


        
        <link rel="stylesheet" href="static/styles/contact_us.css">

        <title>CareerBridge - Contact us</title>
    </head>
    <body>
        
        <div class="home-page">

            <nav class="navbar">
                <div class="left-side">
                    <img class="logo" src="static/images/logo-1.png">
                    <div class="name-1">
                        <a href="/" class="name-link">CareerBridge</a>
                    </div>
                </div>
                

                <div class="nav-items">
                    <a href="/" class="landing" type="button"><button class="btn-1">Home</button></a>
                    <a href="/about_us" class="about-us" type="button"><button class="btn-2">About us</button></a>
                    <a href="/contact_us" class="contact-us" type="button"><button class="btn-3">Contact us</button></a>
                </div>
                
            </nav>

            <div class="second-side">
                <form action="https://api.web3forms.com/submit" method="post">
                    <div class="container">
                            <div class="get"> 
                                Get in touch
                            </div>
                            <div class="intro">
                                We'd love to hear from you! Whether you have a question about our services, need assistance with your job search, or just want to share your feedback, we're here to help. 
                            </div>
                            <input type="hidden" name="access_key" value="2cc86536-cd10-4a49-ac28-0327353127ec">
                            <div class="name-email">
                                <input class="user_name" type="text" name="name" placeholder="Your Name" required>
                                <input class="user_email" type="email" name="email" placeholder="Email Address" required>
                            </div>
                            <div class="text">
                                <textarea class="user_text" name="message" placeholder="What can we help you with ?"></textarea>
                            </div>
                            <button class="submit-btn" type="submit">Send<img class="arow" src="static/images/rgt-arrow.png"></button>
                    </div>
                </form>
            </div>

        </div>



    </body>
</html>