<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

        <link href="static/styles/home.css" rel="stylesheet">

        <link href="static/styles/jobs.css" rel="stylesheet">
        

        <title>Home page</title>
    </head>
    <body>

        <div class="home-page">



            <nav class="navbar">
                <div class="sec-1">
                    <img class="logo" src="static/images/logo-1.png" alt="CareerBridge logo">
                </div>
                
                <div class="sec-2">
                    <p class="title">CareerBridge</p>

                </div>

                <div class="sec-3">
                    <a href="/about_us" target="_blank" class="about-us" type="button"><button class="btn-1">About us</button></a>
                    <a href="/contact_us" target="_blank" class="contact-us" type="button"><button class="btn-2"> Contact us</button></a>
                    <a class="logout" type="button"><button class="btn-3">Logout</button></a>
                </div>
                
            </nav>




            <div class="jobs-section">
                <h2 class="jobs">Open Positions</h2>
                <div>
                    {% for job in jobs %}
                        {% include 'job_item.html' %}
                        {% if not loop.last %} <!-- This condition checks if it's not the last iteration -->
                            <hr class="line">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>




            <footer class="footer">
                <div class="part-1">

                    <img class="logo-footer" src="static/images/small-logo.png" alt="small logo">
                    <div class="name"> CareerBridge</div>

                </div>


                <div class="part-2">
                    <p>Copyright <span>&#169;</span> 2024<span class="copy">;</span>  Build with <span>&#9829;</span> by Yazan</p> 
                </div>


            </footer>


            
        </div>

    </body>
</html>