<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        

        <title>{{job.title}} - CareerBridge</title>
    </head>
    <body>
        <h3>Title</h3>
        <p>{{job.title}}</p>
        <h3>Location</h3>
        <p>{{job.location}}</p>
        <h3>Salary</h3>
        <p>{{job.currency}}{{job.salary}}</p>
        <h3>Responsibilities</h3>
        <p>{{job.responsibilities}}</p>
        <h3>Requirements</h3>
        <p>{{job.requirements}}</p>
    </body>
</html>