<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CareerBridge</title>
        <link rel="stylesheet" href="static/styles/landing_page.css">
    </head>
    <body>


        <div class="home_page">
            <div class="row-1">
                <div class="info">
                    <nav class="navbar">

                            <a class="landing" type="submit">Home</a>
                            <a class="about-us" type="submit">About Us</a>
                            <a class="contact us" type="submit">Contact Us</a>
                        
                    </nav>  

                    <div class="title">
                        Explore New Opportunities in Your Field
                    </div>

                    <div class="details">
                        At Career Bridge, we connect you to the best opportunities. Navigate the job market with <br/> confidence to find the perfect fit for you.
                    </div>

                    <button class="start-btn">Get Started</button>

                </div>

                    <img class="big-logo" src="static/images/CareerBridge-logo.png" alt="CareerBridge">

            </div>

            <div class="row-2">
                
            </div>

        </div>



        <!-- <a type="button" href="/login" target="_blank">login</a>
        <br/>
        <br/>
        <br/>
        <a type="button" href="/signup" target="_blank">signup</a> -->
    </body>
</html>