<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>


        <form action="/login" method="post">

            <div>
                <label>Email</label><br/>
                <input type = "email" name = 'email' placeholder="Sample@example.com" >
            </div>


            <div>
                <label>password</label><br/>
                <input type = "text" name = 'password1'>
            </div>
            <input type="submit">
        </form>
    </body>
</html>