<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles/signup.css">
        <title>CareerBridge - Signup</title>
    </head>
    <body>

        <div class="home-page">


        <div class="first-side">


        <div class="header">
            <img class="logo" src="static/images/logo-1.png" alt="CareerBridge logo">
            <p class="title">CareerBridge</p>
        </div>

        <div class="arrow-create">
            <p class="create">Create your CareerBridge Account</p>
        </div>
        

        <br/>
        <br/>
        
        <!-- messages here is variable and get_flashed_messages is a method from jinja -->
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %} <!--if you have messages -->
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="wrong-alert"> <!-- if the alert is wrong -->
                            {{message}} <!-- display the message -->
                            <button class="wrong-btn">
                                <span>&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="wrong-alert"> <!-- if the alert is correct -->
                            {{message}}
                            <button class="wrong-btn">
                                <span>&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="post" action="/signup">
            <div class="line-1">
                <div>
                    <label class="name-la">Full name</label>
                    <br/>
                    <input class="name" type = "text" name = 'user_name' placeholder="Your name" required>
                </div>
            </div>
            

            <div class="line-2">
                <div>
                    <label class="email-la">Email</label><br/>
                    <input class="email" type = "email" name = 'email' placeholder="Sample@example.com" required>
                </div>
            </div>
            
            <div class="line-3">
                <div>
                    <label class="pass1-la">Password</label><br/>
                    <input class="password1" type = "text" name = 'password1' required placeholder="••••••••••••">
                </div>
    
    
                <div>
                    <label class="pass2-la">Confirm password</label><br/>
                    <input class="password2" type = "text" name = 'password2' required placeholder="••••••••••••">
                </div>
    
            </div>

            
            <input class="btn" type="submit">

            </form>

            <p class="login">Already have an account? <span><a href="/login">Login here!</a></span></p>

        </div>

        <div class="second-side">

        </div>

        <div class="second-side">
            <img class="signup" src="static/images/signup.png" alt="sign up icon">
        </div>

    </div>

    </body>
</html>