<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        This is the signup page
        <br/>
        <br/>
        
        <!-- messages here is variable and get_flashed_messages is a method from jinja -->
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %} <!--if you have messages -->
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="wrong-alert"> <!-- if the alert is wrong -->
                            {{message}} <!-- display the message -->
                            <button class="wrong-btn">
                                <span>&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="wrong-alert"> <!-- if the alert is correct -->
                            {{message}}
                            <button class="wrong-btn">
                                <span>&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="post" action="/signup">

            <div>
                <label>Full name</label>
                <br/>
                <input type = "text" name = 'user_name' placeholder="Enter your full name">
            </div>

                
            <div>
                <label>Email</label><br/>
                <input type = "email" name = 'email' placeholder="Sample@example.com" >
            </div>


            <div>
                <label>password</label><br/>
                <input type = "text" name = 'password1'>
            </div>


            <div>
                <label>confirm password</label><br/>
                <input type = "text" name = 'password2'>
            </div>

            <input type="submit">

            </form>


    </body>
</html>