body, html {
    margin: 0;
    padding: 0;
}

.home-page {
    display: flex;
    flex-direction: column;
}

.navbar {
    width: auto;
    height: 150px;
    background-color: #e5ddc5;
    display: flex;
    align-items: center;
}

.contact-us {
    margin-right: 80px;
    font-size: 25px;
    color: #009177;
    font-family: Fira sans, sans-serif;
    font-weight: 500;
}

.about-us {
    text-decoration: underline;
    margin-right: 80px;
    font-size: 30px;
    color: black;
    font-family: Fira sans, sans-serif;
    font-weight: 500;
}

.left-side {
    display: flex;
    align-items: center;
}

.landing {
    text-decoration: none;
    margin-left: 280px;
    margin-right: 80px;
    color: black;
    font-size: 25px;
    color: #009177;
    font-family: Fira sans, sans-serif;
    font-weight: 500;
}

.btn-1 {
    font-size: 25px;
    color: #009177;
    font-family: Fira sans, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 50px;
    background-color: #e5ddc5;
    cursor: pointer;
}

.btn-1:hover {
    font-size: 25px;
    color: #009177;
    font-family: Fira sans, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 50px;
    background-color: #e5ddc5;
    cursor: pointer;
    text-decoration: underline;
}

.btn-2 {
    font-size: 30px;
    font-family: Fira sans, sans-serif;
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 60px;
    background-color: #e5ddc5;
    cursor: pointer;
}

.btn-2:hover {
    font-size: 30px;
    font-family: Fira sans, sans-serif;
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 60px;
    background-color: #e5ddc5;
    cursor: pointer;
    text-decoration: underline;
}

.btn-3 {
    font-size: 25px;
    color: #009177;
    font-family: Fira sans, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    width: 140px;
    height: 50px;
    background-color: #e5ddc5;
    cursor: pointer;
}

.btn-3:hover {
    font-size: 25px;
    color: #009177;
    font-family: Fira sans, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    width: 140px;
    height: 50px;
    background-color: #e5ddc5;
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: 100px;
}

.name-1 {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.name-link {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.second-part {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.title-1 {
    font-family: Bangers, sans-serif;
    margin-top: 65px; 
    font-size: 40px;
    margin-left: 350px;
}

.text-1 {
    font-family: Signika, sans-serif;
    max-width: 800px;
    font-size: 20px;
    margin-left: 80px;
}

.img1 {
    margin-left: 400px;
    margin-top: 50px;
    width: 230px;
    height: 230px;
}

.title-2 {
    margin-left: 850px;
    font-family: Bangers, sans-serif;   
    font-size: 40px; 
    margin-top: 0;
}

.text-2 {
    font-family: Signika, sans-serif;
    max-width: 800px;
    font-size: 20px;
    margin-left: 600px;
}

.img2 {
    background: transparent;
    margin-left: 200px;
}

.title-3 {
    font-family: Bangers, sans-serif;   
    margin-left: 240px;
    font-size: 40px; 
}

.text-3 {
    font-family: Signika, sans-serif;
    max-width: 800px;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 100px;
}


.footer {
    background-color: rgb(0, 0, 0);
    color: #FFF;
    margin: 0;
}

.part-1 {
    display: flex;
    text-align: center;
}

.logo-footer {
    width: 70px;
    height: 70px;
    margin-top: 80px;
    margin-left: 360px;
    margin-bottom: 50px;

}

.logo-name {
    margin-top: 95px;
    margin-left: 5px;
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 90px;
}

.linkedin {
    width: 43px;
    height: 40px;
    margin-top: 95px;
    margin-left: 355px;
}

.github {
    width: 45px;
    height: 45px;
    margin-top: 90px;
    margin-left: 40px;
}

.part-2 {
    display: flex;
    justify-content: center;
}

.copy {
    padding-right: 8px;
}

.email {
    margin-top: 100px;
    color: #FFF;
}

.design {
    text-decoration-color: #FFF;
}

.at {
    margin-top: 100px;
    margin-left: 45px;
    padding-right: 10px;
}

.container-2 {
    display: flex;
}
