body {
    margin: 0;
}

.home-page {
    display: flex;
    flex-direction: column;
}

.navbar {
    width: auto;
    height: 150px;
    background-color: #e5ddc5;
    display: flex;
    align-items: center;
}

.contact-us {
    margin-right: 80px;
}

.about-us {
    text-decoration: underline;
    margin-right: 80px;

}

.left-side {
    display: flex;
    align-items: center;
}

.landing {
    text-decoration: none;
    margin-left: 350px;
    margin-right: 80px;
    color: black;
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: 100px;
}

.name {
    font-size: 25px;
}

.img {
    width: 800px;
    height: 800px;
    margin-left: 100px;
}

.second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: Bangers, sans-serif;
    margin-top: 65px; 
    font-size: 35px;
}

.text-1 {
    font-family: Signika, sans-serif;
    max-width: 750px;
    font-size: 20px;
}