body {
    margin: 0;
}

.home-page {
    display: flex;
    flex-direction: column;
}

.navbar {
    width: auto;
    height: 150px;
    background-color: #e5ddc5;
    display: flex;
    align-items: center;
}

.contact-us {
    margin-right: 80px;
}

.about-us {
    text-decoration: underline;
    margin-right: 80px;

}

.left-side {
    display: flex;
    align-items: center;
}

.landing {
    text-decoration: none;
    margin-left: 350px;
    margin-right: 80px;
    color: black;
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: 100px;
}

.name {
    font-size: 25px;
}

.second-part {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.title-1 {
    font-family: Bangers, sans-serif;
    margin-top: 65px; 
    font-size: 35px;
    margin-left: 350px;
}

.text-1 {
    font-family: Signika, sans-serif;
    max-width: 800px;
    font-size: 20px;
    margin-left: 80px;
}

.img1 {
    margin-left: 400px;
    margin-top: 50px;
    width: 230px;
    height: 230px;
}

.title-2 {
    margin-left: 850px;
    font-family: Bangers, sans-serif;   
    font-size: 35px; 
}

.text-2 {
    font-family: Signika, sans-serif;
    max-width: 800px;
    font-size: 20px;
    margin-left: 600px;
}