body, html {
    margin: 0;
    padding: 0;
}

.home-page {
    display: flex;
    flex-direction: column;
}


.navbar {
    width: auto;
    height: 150px;
    background-color: #e5ddc5;
    display: flex;
    align-items: center;
}


.btn-1 {
    margin-right: 70px;
    font-size: 25px;
    color: #009177;
    font-family: Fira sans, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 50px;
    background-color: #e5ddc5;
    cursor: pointer;
    margin-left: 280px;
}

.btn-1:hover {
    margin-right: 70px;
    font-size: 25px;
    color: #009177;
    font-family: Fira sans, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 50px;
    background-color: #e5ddc5;
    cursor: pointer;
    text-decoration: underline;
}

.btn-2 {
    margin-right: 70px;
    font-size: 25px;
    font-family: Fira sans, sans-serif;
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 60px;
    font-weight: 500;
    background-color: #e5ddc5;
    cursor: pointer;
    color: #009177;
}

.btn-2:hover {
    margin-right: 70px;
    font-size: 25px;
    font-family: Fira sans, sans-serif;
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 60px;
    background-color: #e5ddc5;
    cursor: pointer;
    text-decoration: underline;
    color: #009177;
    font-weight: 500;
}

.btn-3 {
    font-size: 30px;
    color: black;
    font-family: Fira sans, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 50px;
    background-color: #e5ddc5;
    cursor: pointer;
}

.btn-3:hover {
    font-size: 30px;
    color: black;
    font-family: Fira sans, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 50px;
    background-color: #e5ddc5;
    cursor: pointer;
    text-decoration: underline;
}


.logo {
    width: 70px;
    height: 70px;
    margin-left: 100px;
    
}

.name-1 {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.name-link {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.left-side {
    display: flex;
    align-items: center;
}

.second-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vh;
    height: 90vh;
    background-color: #006d77;
    margin-top: 120px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
}

.get {
    margin-left: 100px;
    margin-top: 100px;
    font-family: Fira sans, sans-serif;
    font-size: 35px;
    color: #bee1de;
}

.intro {
    color: #edf6f9;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
    max-width: 500px;
}