body, html {
    margin: 0;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.home-page {
    display: flex;
    flex-direction: column;
}

.sec-2 .title {
    font-size: 50px;
    font-family: Unna, sans-serif;
    color: black;
    margin-right: 200px;
    margin-left: 380px;
    margin-bottom: 30px;
}

.sec-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    width: auto;
    height: 120px;
    justify-content: space-evenly;
    align-items: center;
    color: #FFF;
}

.btn-1 {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
    background-color: #d2d0d0;
}

.btn-2 {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
    background-color: #d2d0d0;
}

.btn-3 {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    background-color: #d2d0d0;
}

.btn-1:hover {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline;
    background-color: #dad9d9;
}

.btn-1:active {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline;
    background-color: #d2d0d0;

}

.btn-2:hover {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
    background-color: #dad9d9;
    text-decoration: underline;
}

.btn-2:active {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline;
    background-color: #d2d0d0;
}

.btn-3:hover {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    background-color: #dad9d9;
    text-decoration: underline;
}

.btn-3:active {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline;
    background-color: #d2d0d0;
}

.jobs {
    font-family: Gupter, sans-serif;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 40px;
    margin-top: 80px;
}

.jobs-section {
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin: 40px 45px;
    color: white;
}

.footer {
    background-color: black;
}

.part-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    color: #FFF;
    margin-top: 65px;
    font-size: 18px;
}

.logo-footer {
    width: 70px;
    height: 50px;
    margin-top: 65px;
}

.part-2 {
    color: #FFF;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}