html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: #FFF;
}

.home_page {
    display: flex;
    flex-direction: column;
}

.row-1 {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}

.info {
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 25px;
    box-shadow: -7px 0 20px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    margin: -10px;
    padding: 0;
}

.big-logo {
    height: 100vh;
    width: 50%;
    margin-left: 10px;
}

.about-us, .contact-us, .landing {
    margin-right: 60px;
}

.landing {
    margin-right: 60px;
}

.title {
    margin-top: 170px;
    margin-left: 100px;
}

.details {
    margin-top: 50px;
    margin-left: 100px;
}

.start-btn {
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 100px;
    width: 150px;
    height: 40px;
    padding: 10px;
    border: none;
}

.row-2 {
    display: flex;
    margin-top: 100px;
}